= form_tag '/auth/create', method: 'post', class: 'form-horizontal' do
  = flash_tag(:notice)
  = field_set_tag do
    .form-group
      .input-group
        = email_field_tag :email, class: 'form-control', placeholder: 'GA Email'
        %span.input-group-btn
          = submit_tag "Create", :class => 'btn btn-default'
